* {
  zoom: 1;
}
.icon {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
body {
  margin: 0;
}
header ul,
footer ul {
  list-style: none;
  padding: 0;
}
header ul {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
.menu {
  font-size: 20px;
}
.social_link li {
  float: left;
  margin-left: 13px;
}
.toggle-menu {
  display: none;
}
.menu li {
  float: left;
  margin-left: 25px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.nav .logo {
  justify-content: center;
}

.logo {
  width: 300px;
  height: 60px;
  margin-left: 80px;
  overflow: hidden;
}
.logo img,
.footer_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} 

header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000; /* making header unchangable while scrolling  */
}

.left {
  margin-left: 20px;
}
.right {
  margin-right: 20px;
}
/*end heading fix*/

/* Main */
/* main {
  height: 300vh; /*height can be modified according to the need of your page but don't change other code
  max-width: 100%;
} */


/* Footer */
footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: rgb(0 0 0 / 50%) 0px -6px 6px -6px;
}

.footer_bottom p {
  font-size: 14px;
  letter-spacing: 3px;
  margin: 5px;
}
.footer-menu li,
.footer_link li {
  float: left;
}
.footer-menu li {
  padding: 0 50px;
  font-weight: 900;
  font-size: 20px;
}
.footer_body {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.footer_logo {
  width: 200px;
  height: 60px;
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.footer_bottom,
.footer_body,
.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_link li {
  margin-left: 20px;
}
footer ul {
  margin: 10px;
}



/* <============================Banner CSS===========================> */
.bg-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 10px;
}

.banner-info {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
}

.banner-title {
  flex: 1;
}

.banner-title span {
  font-size: 2.5em;
}
.btn-contact {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  background-color: #0056b3;
}