#container {
  height: auto;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 40px 20px;
}

#container .heading {
  width: 40%;
  padding-bottom: 5px;
}

#container .heading h1 {
  padding-top: 30px;
  padding-bottom: 10px;
}

#container .box {
  position: relative;
  width: 100%;
  padding: 20px 10px 5px 10px;
}

#container .box .photo {
  display: flex;
  flex-direction: row;
}

.photo {
  margin: 0;
  gap: 20px;
  padding: 20px 0;
  overflow: hidden;
}

#container .box .photo figure a img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.photo a:hover img {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 900px) {
  #container .box .photo {
    flex-direction: column;
  }

  #container .box .photo figure {
    width: 100%;
  }

  #container .heading {
    width: 100%;
    padding-top: 5px;
  }

  #container .heading h2 {
    font-size: 1em;
    padding: 0;
  }

  #container .heading span {
    font-weight: 50;
  }
}
